@model PetCare.Web.ViewModels.ClienteAnimalVieModel
<div class="masthead">
    <div class="container d-flex flex-column">
        <div class="row">

            @foreach (var item in Model.Animais)
            {

        <div class="card col-sm-4" style="width: 18rem;">
            @switch (item.Tipo)
            {
                case PetCare.Domain.Enums.eTipoAnimal.Cachorro:
        <img class="card-img-top" src="~/assets/img/cao.png" alt="Card image cap"> break;
    case PetCare.Domain.Enums.eTipoAnimal.Gato:
        <img class="card-img-top" src="~/assets/img/gato.png" alt="Card image cap"> break;
    case PetCare.Domain.Enums.eTipoAnimal.Hamster:
        <img class="card-img-top" src="~/assets/img/hamster.png" alt="Card image cap">break;
}

            <div class="card-body">
                <h5 class="card-title">Pet: @item.Nome</h5>
                <p class="card-subtitle">Tipo: @item.Tipo</p>
                <p class="card-text">Idade: @item.Idade</p>
                <table align="center">
                    <tr>
                        <th><a onclick="agendarAnimal(@item.Id)" class="btn btn-primary">Agendar</a></th>
                    </tr>
                </table>
            </div>
        </div>}
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">

        function agendarAnimal(idAnimal) {
           var url = '@Url.Action("Index", "AgendamentoCliente", new { id = "-1" })';
            window.location.href = url.replace("-1", idAnimal);
        }
    </script>
}