@model IList<PetCare.Domain.Models.Veterinario>
<div class="masthead">
    <div class="container d-flex flex-column">
        <div class="container">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>CADASTRO DE VETERINÁRIO</label>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nome</label>
                    <input type="text" id="Nome" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Data Contratação</label>
                    <input type="datetime-local" class="form-control" id="DataContraracao">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
            <div class='form-row'>
                <div class="form-group col-md-6">
                    <input type="checkbox" class="form-check-input" id="Geriatra">
                    <label class="form-check-label" for="chkGeriatra">Geriatra</label>
                </div>
                <div class="form-group col-md-6">
                    <br />
                    <input type="button" class="btn btn-primary float-right" value="Salvar" id="Salvar" />
                    <br />
                </div>
            </div>

            <h5>Lista de veterinarios cadastrados. </h5>
            <div id="list" class="row">
                <div class="table-responsive col-md-12">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Geriatra</th>
                                <th>Data Contratação</th>
                                <th class="actions">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Geriatra.ToString()</td>
                    <td>@item.DataContratacao.ToString("dd/MM/yyyy")</td>
                    <td class="actions">
                        <a class="btn btn-warning btn-xs" href="edit.html">Editar</a>
                        <a class="btn btn-danger btn-xs" href="#" data-toggle="modal" data-target="#delete-modal" onclick="Excluir(@item.Id)">Excluir</a>
                    </td>
                </tr>}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $('#Salvar').click(function () {

            var nome = $("#Nome").val();
            var chkgeriatria = $("#Geriatra").is(":checked");
            var dataContratacao = $("#DataContraracao").val();

            var veterianario = { "Nome": nome, "Geriatra": chkgeriatria, "DataContraracao": dataContratacao }

        var settings = {
            "url": '@Url.Action("CadastrarVeterinario", "Veterianario")',
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify(veterianario),
        };

        $.ajax(settings).done(function (response) {
            document.location.reload(true);
            location.reload();

        });
        })

        function Excluir(id) {

             var settings = {
                 "url": '/api/v1/Veterianario/' +id,
            "method": "DELETE",
            "timeout": 0
        };

        $.ajax(settings).done(function (response) {
            document.location.reload(true);
            location.reload();
        });
        }

    </script>
}